.shadow1{text-shadow: 10px 0px 2px red;}
.shadow2{text-shadow: -10px 0px 2px red;}
.shadow3{text-shadow: 0px 10px 2px red;}
.shadow4{text-shadow: 0px -10px 2px red;}
.shadow5{text-shadow: -5px -5px 4px red;}
.shadow6{text-shadow: -2px 2px 4px red;}
.shadowbox1, .shadowbox2, .shadowbox3, .shadowbox4, .shadowbox5{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 20px;
}
.shadowbox1{box-shadow: 0px 5px 3px red;
}
.shadowbox2{box-shadow: 5px 5px 3px red;
}
.shadowbox3{box-shadow: 2px 2px 4px red;
}
.shadowbox4{box-shadow: 2px 2px 4px red inset;}
.shadowbox5{box-shadow: 0px 0px 5px 10px olive;}
.radiusbox1, .radiusbox2, .radiusbox3, .radiusbox4, .radiusbox5{
    width: 150px;
    height: 150px;
    background-color: chartreuse;
    margin: 30px;
    padding: 20px;
}
.radiusbox1{border-radius: 20px;}
.radiusbox2{border-radius: 100 / 50px;}
.radiusbox3{border-radius: 30px 10px 50px 20px;}
.radiusbox4{border-radius: 10px 50px;}
.radiusbox5{border-radius: 50%}

.spring{
    width: 200px;
    margin: 20px;
}
.spring1{border-radius: 50px;}
.spring2{border-radius: 50%;}
.spring3{border-radius: 15px; border: solid; color: blueviolet 5px; padding:20px;}
.spring4{box-shadow: 0px 0px 5px 3px gray; border-radius: 10px;}

img{width: 100%;}
figure img{width: 200px;}
figcaption{margin-bottom: 50px;}
.blur1{filter: blur(1px);}
.blur2{filter: blur(5px);}
.blur3{filter: blur(10px);}

/*static and liquid layouts*/
.maincontainer{
    border:solid gray 1px; 
    width: 80%; /*800px for static*/
    margin: auto;
    display:flex;
    flex-wrap: wrap;
}

.leftcolumn{
    background-color: aliceblue;
    width: 70%; /*500px for static*/
    height: 400px;
}
.section, .article{
    border: forestgreen 1px solid;
    height: 200px;
}
.rightcolumn{
    width: 29%; /*298 px for static*/
    height: 400px;
    border: solid red 1px;
}
.image{
    width:100%; /* 800px for static*/
    border: solid green;
}
.cardcontainer{
    width: 800px;
    margin: auto;
    background-color: cornflowerblue;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /*adjust two cards layout around*/
}
.card{
    width: 40%;
    border-radius: 10px;
    border: solid 2px rgb(52, 151, 221);
    overflow: hidden;
    background-color: white;
}

.linkcard{
    text-align: center;
    display: block;
    color: darkgrey;
    text-decoration: none;/*remove the underline*/
    padding: 1em;
}

.card:hover{
    box-shadow: 0px 0px 3px 2px gray;
    border: chartreuse solid 2px;
}

.card:hover .linkcard{  /*hover effect*/
    color: crimson;
}

.card2{
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    margin: 5% 1%; /* adjust the percent to put 3 cards in a row 5% 1% or 25*/
    box-shadow: 1px 1px 3px gray;
}

.cardtitle{
    text-align: center;
    color: crimson;
}
.cardinfo{
    padding: 1rem; /*space between*/
}
.linkcard2{
    background-color: rgb(111, 139, 0);
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.card2:hover{
    box-shadow: 0px 0px 3px 1px gray;


}
.card2:hover .linkcard2{
    background-color: crimson;
    text-decoration: underline;

}

.navbar{
    /*background-color: purple;(this make backkground color behide the box)*/
    width: 300px;
}
.navbar li{
    list-style-type: none;
    /*margin-left: -20px; make the list to the left side of the box little bit*/
}
.navbar li a{
    background-color: purple; /*same thing as margin-left in .navbar li*/
    color: white;
    display: block;
    padding: 20px;
}
.navbar li a:hover{
    background-color: lightblue;
    color: purple;
    text-decoration: underline;
    font-weight: 900;
    border: 1px solid purple;
}

html{scroll-behavior: smooth;} /*the scroll behavior to be smooth*/
*{box-sizing: border-box;} /*help to control the width of element not to go left/right*/
.navbarhorizontal {
    background-color: orangered;
}
.navbarhorizontal a{
    color: whitesmoke;
    text-decoration: none;
    background-color: aqua;
    display: inline-block;
    width: 24.6%;
    text-align: center;
    padding: 20px; /*use box-sizing to control this padding element*/
    
}
.navbarhorizontal a:hover{
    background-color:  black;
    font-weight: bolder;
    text-decoration: underline;
}
/*color*/
.rgbcontainer, .hexcontainer{
    border: solid gray 1px;
    display: flex;
    justify-content: space-around;
    width: 500px;
    padding: 20px

}
.rgbcontainer div, .hexcontainer div{
    border: solid green 1px;
    width: 100px;
    height: 50px;
}

.rgbcontainer div:nth-child(1){background-color: rgb(30, 110, 10); }
.rgbcontainer div:nth-child(2){background-color: rgb(231, 69, 199);}
.rgbcontainer div:nth-child(3){background-color: rgb(255, 0, 166);}

.hexcontainer div:nth-last-child(1){background-color: #ff12ff;}
.hexcontainer div:nth-last-child(2){background-color: #e87878;}
.hexcontainer div:nth-last-child(3){background-color: #5dff12;}

/*position*/
.imgcontainer{
    width: 500px;
    box-shadow: 2px 2px 5px cornflowerblue;
    border-radius: 10px;
    overflow: hidden;
    position: relative; /* position: allows to use top, left, bottom controlling around it*/
    top: 20px;
    left: 100px;

}
.imgtitle{
    background-color: rgba(52, 151, 221, 0.5);
    position: absolute;
    top: 90px;
    left: 20px;
    right: 20px;
    padding: 2%;
    text-align: center;
    font-size: 1.5em;
}
.fixedtabs{
    position: fixed;
    top: 0px;
    width: 100%;
}
/*Background image*/
.imgbackground, .imgbackground2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.imgbackground div, .imgbackground2 div{
    width: 30%;
    height: 200px;
    border: solid gray 1px;
}

.imgbackground div:nth-child(1){background-image: linear-gradient(rgb(190, 41, 41), darkblue);}
.imgbackground div:nth-child(2){background-image: linear-gradient(to right, red, darkblue);}
.imgbackground div:nth-child(3){background-image: linear-gradient(to bottom left, red, darkblue);}

.imgbackground2 div:nth-child(1){background-image: linear-gradient(to top right, red, darkblue, yellow);}
.imgbackground2 div:nth-child(2){background-image: linear-gradient( red, darkblue, yellow, purple);}
.imgbackground2 div:nth-child(3){background-image: linear-gradient( red 20%, darkblue 60%, yellow 30%, purple 80%);}

/*hero image*/
.heroimgcontainer{
    width: 800px;
    height: 500px;
    margin: auto;
    border: solid gray 1px;
    background-image:linear-gradient(to top, rgba(255, 0, 0, 0.649), #0909a092),url("images/view_from_window.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.herocontent{
    background-color: rgba(208, 207, 237, 0.5);
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    color: white;
    border-radius: 10px; 
    box-shadow: 1px 1px 5px black;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}
.herocontent_title{
    color: rgba(21, 244, 170, 0.844);

}
.herocontent_intro{
    margin-top: -30px;
    font-size: 0.8em;
    font-style: italic;
}
.herocontent_link{
    background-color: rgba(216, 112, 147, 0.632);
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
}
.herocontent_link:hover{
    background-color: rgba(0, 0, 255, 0.549);
    color: coral;
    font-weight: bolder;
}

